@model int

@{
    ViewData["Title"] = "Order Successfully Created";
}

<h2>Order Successfully Created</h2>

<p>
    Thank you for your order.<br/>
    Your order with ID <strong>#@Model</strong> will be delivered in 3-5 work days.
</p>
