@model WebMVC.Areas.Admin.Models.Order.OrderCreateEditViewModelWithOptions

<!-- Users -->
<div class="col-md-6 mb-3">
    <label asp-for="Order.UserId" class="form-label">User</label>
    <select asp-for="Order.UserId" class="form-select">
        <option value="">-- Select User * --</option>
        @foreach (var user in Model.Users)
        {
            <option value="@user.Id">@user.Name</option>
        }
    </select>
    <span asp-validation-for="Order.UserId" class="text-danger small d-block mt-1"></span>
</div>
