@model WebMVC.Areas.Admin.Models.Order.OrderCreateEditViewModelWithOptions

<!-- OrderId -->
<div class="col-md-6 mb-3">
    <label asp-for="Order.OrderId" class="form-label">OrderId *</label>
    <input asp-for="Order.OrderId" type="number" class="form-control" placeholder="Enter order ID" />
    <span asp-validation-for="Order.OrderId" class="text-danger small d-block mt-1"></span>
</div>


<!-- TotalValue -->
<div class="col-md-6 mb-3">
    <label asp-for="Order.TotalValue" class="form-label">Total Value *</label>
    <input asp-for="Order.TotalValue" class="form-control" placeholder="Enter order title" />
    <span asp-validation-for="Order.TotalValue" class="text-danger small d-block mt-1"></span>
</div>

<!-- OrderDate -->
<div class="col-md-6 mb-3">
    <label asp-for="Order.OrderDate" class="form-label">Order Date *</label>
    <input asp-for="Order.OrderDate" type="date" class="form-control" placeholder="Enter order title" />
    <span asp-validation-for="Order.OrderDate" class="text-danger small d-block mt-1"></span>
</div>
